h1 {
  font-family: "Courier New", cursive, sans-serif;
  font-size: 45px;
  letter-spacing: -1.6px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(250, 249, 249);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

h2 {
  position: absolute;
  font-family: "Courier New", cursive, sans-serif;
  font-size: 35px;
  letter-spacing: -1.6px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(250, 249, 249);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

h3 {
  position: absolute;
  font-family: "Courier New", cursive, sans-serif;
  font-size: 25px;
  letter-spacing: -1.6px;
  word-spacing: 0px;
  color: #000000;
  font-weight: 700;
  text-decoration: none solid rgb(250, 249, 249);
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}

td {
  font-size: 35px;
  line-height: 30px;
  padding: 0 20px;
  text-align: justify;
  vertical-align: top;
  width: 50%;
}

ul{
  list-style-type: none;
  text-align: left;
}

li{
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor{
  margin: 1% 1%;
}

.button-container{
  display:inline-block;
  position:relative;
  align-items: center;
  right:-20%;
  }
  
.button-container a{
position: absolute;
bottom:4%;
right:50%;
left:50%;
}
